* {
	outline: none;

}

body{
	margin: 0%;
	padding:0%;
  

}


a:hover{
	text-decoration: none;
}
p{
font-family: 'Didact Gothic', sans-serif;

}

h1, h2 , h3 , h4 , h5 , h6{
	font-family: 'Fredoka One', cursive;

}


/*_____________________________________________*/

/*HEADER*/

@media only screen and (max-width: 608px) {

.portafolio{
margin-top: 70%;
}
}

@media only screen and (max-width: 508px) {
	.h1-portafolio {
		margin-top: 150px;
	}
}

.header-intro{
	background-image: url(../img/fondos/fondo4.png);
	background-repeat: repeat;
	height: 680px;
}

.h1-portafolio{
	font-size: 100px;
	color: #252A34;
	margin-top: 24%;
}
@media only screen and (max-width: 608px) {

.h1-portafolio{
	font-size: 40px;
	color: #252A34;
	margin-top: 24%;
}
}

.p-portafolio{
		color: #252A34;
    font-size: 40px;

}


/*intro*/
.intro-titulo{
  margin-top: 10%;
}

/*INTRO*/

/*ABOUT*/





@media only screen and (max-width: 608px) {

.about{
	    background-color: #ff2e63;
    height: 521px;
    padding-bottom: 5%;	
}

}

.about{
	    background-color: #ff2e63;
    height: 521px;
    padding-bottom: 5%;
}



.foto-perfil{
    background-image: url(../img/perfil.jpg);
    height: 406px;
    margin: 5% 15%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;	
}




@media only screen and (max-width: 608px) {

.foto-perfil{
    background-image: url(../img/perfilresponsive.jpg);
    height: 406px;
    margin: 7% 0% 29% 0%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;	
}

}

.dayana{
font-size: 40px;
   
    margin: 7% 0% 5% 1%;
    
}


@media only screen and (max-width: 608px) {

.dayana{
font-size: 30px;
   
    margin: 7% 0% 5% 1%;
    
}

}



@media only screen and (max-width: 808px) {
	.perfil-texto{
 	    width: 303px;
    margin: 5% 0% 16% 2%;		
	}
}

.uno{
	background-color: #FF2E63;
}

.p-perfil {
    color: #252A34;
    width: 90%;
    font-size: 22px;
}

@media only screen and (max-width: 808px) {
	.dayana{
    max-width: 222px;
    max-height: 34px;
    margin: -35% 0% 14% 1%;
    background-size: cover;
    background-repeat: no-repeat;
	}
}

@media only screen and (max-width: 800px) {
	.respon{
 		margin-top: -15%;

	}
}




@media only screen and (max-width: 808px) {
	.p-perfil{
     color: #252A34;
    width: 92%;
    margin: 1%;
    padding: 1%;
    font-size: 20px;;

	}
}




/*SKILLS*/




.skills {
	    margin-top: -2%;
    text-align: center;
    padding: 90px 0px;
 background-image: url(../img/fondos/fondo3.png);
}


.p-skills{
	color: #252A34;
	margin-bottom: 4%;
	font-size: 30px;
font-family: 'Didact Gothic', sans-serif;
font-weight: 900;
}

.p-bajo-img{
	margin-top: 4%;
font-size: 14px;
}

.img-skill{
	max-width: 100px;
	height: 100px;
}

.img-skills{
display: inline-flex;
margin: 1% 0% 0% -5%;
}

.textos-skills{
	font-size: 20px;
}

.destacado{

}


@media only screen and (max-width: 408px) {
	.img-skill  {
		max-width: 30px;
		height: 30px;
	}
}


@media only screen and (max-width: 408px) {
	.edu-1 {

  position: relative;
  width: 100px;
  height: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 10;
  margin: 4% 10% 10% 10%;
}
	
}


@media only screen and (max-width: 408px) {
	.p-bajo-img{
	margin-top: 4%;
font-size: 13px;
}

}


@media only screen and (max-width: 408px) {

.textos-skills{
	font-size: 14px;
}

}




/*contenedor del div completo*/
.edu-1 {
	display: inline-block;
  position: relative;
  width: 150px;
  height: 150px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 10;
  margin: 0% 10% 10% 10%;
}
/*contenedor del div de imagen y texto*/

.div-img-edu {
  display: block;
  margin-left: auto;
  margin-right: auto;

}


.img-edu {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
      border-radius: 100%;

  -webkit-transform: 0px 0px 1;
  -moz-transform: 0px 0px 1;
  -ms-transform: 0px 0px 1;
  -o-transform: 0px 0px 1;
  transform: 0px 0px 1;
  transform: translate(0px, 0px) scale(1);
  -webkit-transform: translate(0px, 0px) scale(1);
  -moz-transform: translate(0px, 0px) scale(1);
  -o-transform: translate(0px, 0px) scale(1);
  -ms-transform: translate(0px, 0px) scale(1);
  -webkit-transition: all 0s ease 0s;
  -moz-transition: all 0s ease 0s;
  -o-transition: all 0s ease 0s;
  transition: all 0s ease 0s;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}

.div-img-edu:hover .img-edu {
  -webkit-transform: 0px -30px 0.5;
  -moz-transform: 0px -30px 0.5;
  -ms-transform: 0px -30px 0.5;
  -o-transform: 0px -30px 0.5;
  transform: 0px -30px 0.5;
  transform: translate(0px, -30px) scale(0.5);
  -webkit-transform: translate(0px, -30px) scale(0.5);
  -moz-transform: translate(0px, -30px) scale(0.5);
  -o-transform: translate(0px, -30px) scale(0.5);
  -ms-transform: translate(0px, -30px) scale(0.5);
  border-radius: 50%;
}
.div-img-edu:hover .text-edu {
  -webkit-transform: 0px 0px 2;
  -moz-transform: 0px 0px 2;
  -ms-transform: 0px 0px 2;
  -o-transform: 0px 0px 2;
  transform: 0px 0px 2;
  transform: translate(0px, 0px) scale(2);
  -webkit-transform: translate(0px, 0px) scale(2);
  -moz-transform: translate(0px, 0px) scale(2);
  -o-transform: translate(0px, 0px) scale(2);
  -ms-transform: translate(0px, 0px) scale(2);
}



/*DESARROLLO*/



/*CONTACTO*/

 #contact{
  background-color: #FF2E63;
padding: 5% 0% 0% 0%;

}

@media only screen and (max-width: 408px) {

.iconos-social{
    max-width: 30px;
    max-height: 30px;
 margin-bottom: 4%;
}

}

.contacto-iconos{
    display: inline-block;
    margin: 4% 1%;
}

.iconos-social{
 width: 45px; 
 height: 45px;
 margin-bottom: 2%;
}


.telefono{
width: 80%;
}


}

@media only screen and (max-width: 508px) {
 #contact{
  background-color: #FF2E63;
padding: 0% 0% 3%% 0%;

}

}



/*formulario*/



#hire {
  font-family: 'Didact Gothic', sans-serif;

  margin: 0px auto;
  text-align: center;
  padding: 50px 0 110px;
  width: 80%;
 
  font-size: 62.5%;
  font-weight: 300;
}
.contacto {
  margin-bottom: 40px;
  font-size: 4em;
  
}

form {
  width: 58.33333%;
  margin: 0 auto;
}
form .field {
  width: 100%;
  position: relative;
  margin-bottom: 15px;
 
}
form .field label {
  
  position: absolute;
  top: 0;
  left: 0;
  background: #313A3D;
  color: #08D9D6;
  width: 100%;
  padding: 18px 0;
  font-size: 1.45em;
  letter-spacing: 0.075em;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
form .field label + span {
  opacity: 0;
  color:#08D9D6;
  display: block;
  position: absolute;
  top: 12px;
  font-size: 2.5em;
  text-shadow: 1px 2px 0 #08D9D6;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
form .field input[type="text"], form .field textarea {
    border: none;
    background: #E8E9EA;
    width: 99.5%;
    margin: 0;
    padding: 18px 0;
    padding-left: 38%;
    color: ;
    font-size: 1.4em;
    letter-spacing: 0.05em;
}


form .field input[type="text"]#msg,
form .field textarea#msg {
  height: 53px;
  resize: none;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
form .field input[type="text"]:focus, form .field input[type="text"].focused,
form .field textarea:focus,
form .field textarea.focused {
  outline: none;
}
form .field input[type="text"]:focus#msg, form .field input[type="text"].focused#msg,
form .field textarea:focus#msg,
form .field textarea.focused#msg {
  padding-bottom: 150px;
}
form .field input[type="text"]:focus + label, form .field input[type="text"].focused + label,
form .field textarea:focus + label,
form .field textarea.focused + label {
  width: 30%;
  background: #08D9D6;
  color: #313A3D;
}
form .field input[type="text"].focused + label,
form .field textarea.focused + label {
  color: #FD9638;
}


form .field:hover label {
    width: 30%;
    background: #313A3D;
    color: #FF2E63;
}


form input[type="submit"] {
  background: #08D9D6;
  color: #252A34;
  -webkit-appearance: none;
  border: none;
  
  position: relative;
  padding: 13px 50px;
  font-size: 1.4em;
  letter-spacing: 0.1em;
  font-weight: 300;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
      font-weight: 700;

}
form input[type="submit"]:hover {
  background: #78f3f1;
  color: #FF2E63;
  font-weight: 700;

}
form input[type="submit"]:focus {
  outline: none;
  background: #78f3f1;
  color: #FF2E63;
    font-weight: 700;

}

@media only screen and (max-width: 608px) {

form .field {
    width: 155%;
    position: relative;
    margin-bottom: 15px;
}

}

@media only screen and (max-width: 608px) {

form {
    width: 60.33333%;
    margin: 10px 0px 0px 16px;
}
}


@media only screen and (max-width: 608px) {

form input[type="submit"]{
    margin: 10px 47px;
}

}




/*FOOTER*/

.footer{

  padding: 3%;
  font-size: 10px;
  	background-color: #252A34; /*azul*/

}
.p-footer{
  font-size: 13px;
  color: #EAEAEA;
}

.laboratoria{
  text-decoration: none;
  color: #08D9D6; /*celeste*/
}


.laboratoria:hover{
  color: #FF2E63;/*rosa*/
}

@media only screen and (max-width: 768px) {
    .footer-bottom {
    	padding-left: 27px;
	}
}

